{"filter":false,"title":".npmignore","tooltip":"/node/kristendaya-npm-deploy/.npmignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":2,"column":0},"action":"insert","lines":[".idea","node_modules",""],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":0},"end":{"row":2,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1688113610058,"hash":"876dcf51da467a38e0741418c79917f3dbc06df7"}