# .gitignore

.ftpconfig

## c programing
c/**/a.out
c/**/hello
c/**/*.o
c/**/test

## java

java/*.class

##scala
scala/**/project
scala/**/target

##maven
maven/targets

##nodejs
node/**/node_modules

##python
python/**/.venv
python/**/__pycache__/

#Oracle
oracle/node/dbConfig.js
oracle/node/node_modules
oracle/node/package-lock.json

