## .gitignore
.ftpconfig

##envrionmonet files
.env

## c programing
c/**/a.out
c/**/hello
c/**/*.o
c/**/test

## java
java/*.class

## scala
scala/**/project
scala/**/target

## maven
maven/target

## nodejs
node/**/node_modules
node/**/package-lock.json
node/config/pool.js

## python
python/**/.venv
python/**/__pycache__/

## mongodb
mongodb/*.json
mongodb/**/*.json
mongodb/**/*.mp4
mongodb/backup

## oracle
oracle/node/dbConfig.js
oracle/node/node_modules
oracle/node/package-lock.json

##html
html/mysql/node_modules
html/mysql/package-lock.json

html/*/*
!html/chap01/*
!html/chap01/*
!html/chap01/*

html/**/media/