<!doctype html>
<html>

<head>
    <title>Taxi Availability</title>
    <meta charset="utf-8">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<body>
    <h1>Taxi Availability</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Driver Name</th>
                <th>Car Type</th>
                <th>Area</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i=0; i < taxis.length; i++) { %>
                <tr>
                    <td>
                        <%= taxis[i].id %>
                    </td>
                    <td>
                        <%= taxis[i].usr %>
                    </td>
                    <td>
                        <%= taxis[i].cartype %>
                    </td>
                    <td>
                        <%= taxis[i].area %>
                    </td>
                    <td>
                        <%= taxis[i].avl %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</body>

</html>