/* mystyle.css */

h3 {
    text-align: center;
    color: rgb(245, 146, 146);
    font-family: Kristen ITC;
    font-size: 30px;
    text-shadow: 3px 3px rgb(156, 17, 17)
}



a {
    font-family: muddled;
    font-size: 30px;
    color: rgb(0, 0, 0);

}